# Assignment 1

## Test your knowledge. 

** Answer the following questions **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [3]:
s = 'hello'
# Print out 'e' using indexing

#the e is the second in the string
s[1]

'e'

Reverse the string 'hello' using slicing:

In [2]:
s ='hello'
# Reverse the string using slicing

#using steps to reverse the string
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [4]:
s ='hello'
# Print out the 'o'

# Method 1:

#the o is the fifth in the string
s[4]

'o'

In [5]:
# Method 2:

#it is also the last one so using negateve 1 to go back to the last one
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [7]:
# Method 1:
L=[0,0,0]
L

[0, 0, 0]

In [59]:
# Method 2:
#creating and empty list
L=[]

#adding the 3 zeros to the list
L.append(0)
L.append(0)
L.append(0)

#showing the list
L

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [60]:
list3 = [1,2,[3,4,'hello']]

#using indexing to access the hello field and changing it to goodbye
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [14]:
list4 = [5,3,4,6,1]

#turing it into a set to sort
list4=set(list4)

#turning it back into a list
list4=list(list4)

#showing the list
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [57]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [58]:
#getting the hello using the key simple_key
d['simple_key']

'hello'

In [53]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [54]:
#we have 2 keys k2 is inside the values of k1
d['k1']['k2']

'hello'

In [51]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [52]:
#we have 2 keys nest_key is inside the values of k1
d['k1'][0]['nest_key'][1][0]

'hello'

In [29]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
#Grab hello

In [30]:
#we have 3 diffrent keys tough is inside the values of k2 and k2 is inside the values of k1
d['k1'][-1]['k2'][-1]['tough'][2][0]

'hello'

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [32]:
#variables
planet = 'Earth'
diameter = 12742

#printing with format
print('the diameter of {} is {} kilometers'.format(planet,diameter))

the diameter of Earth is 12742 kilometers

** Given this nested list, use indexing to grab the word "hello" **

In [33]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [34]:
lst[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". **

In [35]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [38]:
#we have 3 diffrent keys target is inside the values of tricky and tricky is inside the values of k1
d['k1'][3]['tricky'][3]['target'][3]

'hello'

### Write a Python program to swap two variables.

In [50]:
#the 2 variables
x=3
y=5

#list to carry the variables
z=[]
#adding the value of the variables
z.append(x)
z.append(y)

#poping the the values into the other variable
x=z.pop()
y=z.pop()

#printing the variables
print('x is {} y is {}'.format(x,y))

x is 5 y is 3

## Thanks