# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    
    #condtion to see if both of them are even
    if a%2==0 and b%2==0:
        
        #conditions to see which is smaller and return it
        if a<b:
            return a
        else:
            return b
        
    #if one or both of them are odd
    else:
        
        #condtions to see which is bigger and return it
        if a<b:
            return b
        else:
            return a

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
def animal_crackers(text):
    
    #to split the two words
    x=text.split(' ')
    
    #condtion to see if the first letter of the first word is the same as the first letter as the second word
    if x[0][0] == x[1][0]:    
        return True
    
    
    else:
        return False

In [5]:
# Check
animal_crackers('Levelheaded Llama')

True

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [7]:
def makes_twenty(n1,n2):
    
    #condtion to see if either one of them equal 20 or their sum equal 20
    if n1+n2==20 or n1==20 or n2==20:
        return True
    
    
    else:
        return False

In [8]:
# Check
makes_twenty(20,10)

True

In [9]:
# Check
makes_twenty(2,3)

False

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [161]:
def old_macdonald(name):
    #empty string to add the letters
    name2= ''
    
    #for loop to go throught every letter in the word
    for i in range(0,len(name)):
        
        #condtion to see if it's the first letter or the fourth letter
        if i ==0 or i==3:
            
            #adding the letter as a capital
            name2=name2+name[i].capitalize()
            
        #if it's not the first or the fourth    
        else:
            #add the letter as small
            name2=name2+name[i]
    
    #return the word
    return name2

In [162]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [170]:
def almost_there(n):
    
    #conditon to if the number is within the range of 100 or 200 by 10
    if -10<=100-n<=10 or -10<=200-n<=10:
        return True
    
    
    else:
        return False

In [171]:
# Check
almost_there(104)

True

In [172]:
# Check
almost_there(150)

False

In [173]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [122]:
def has_33(nums):
    
    #for loop to go through every index in the list 
    #the minus one is there so it woulld not go over the list's index
    for i in range(0,len(nums)-1):
        
        #condtion to see if both the index and the index after it equal 3
        if nums[i] == nums[i+1] and nums[i] ==3:
            return True
        
    return False

In [123]:
# Check
has_33([1, 3, 3])

True

In [124]:
# Check
has_33([1, 3, 1, 3])

False

In [125]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [196]:
def paper_doll(text):
    
    #empty string to add the letters to
    text2=''
    
    #for loop to through every index in the string
    for i in text:
        
        #for loop that repeats 3 times
        for x in range(0,3):
            
            #adding the letter to the list
            text2=text2+i
            
    return text2

In [197]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [198]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [199]:
def blackjack(a,b,c):
    
    #condtion to see if their sum is less than or equal 21
    if a+b+c<=21:
        return a+b+c
    
    #condtion to see if their sum is more than 21 and there is an 11 in the numbers
    elif a+b+c>21 and(a==11 or b==11 or c==11):
        return a+b+c-10
    
    #condtion to see if their sum is more than 21
    elif a+b+c>21 :
        return 'BUST'

In [200]:
# Check
blackjack(5,6,7)

18

In [83]:
# Check
blackjack(9,9,9)

'BUST'

In [84]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [87]:
def summer_69(arr):
    
    #integer to count
    sum1=0
    
    #flag to use in know when a 6 is there and when the 9 appears
    flag=False
    
    #for loop to go through every index in the list
    for x in arr:
        
        #see if the number is 6
        if x==6:
            
            #turn on the flag
            flag=True
            
        #see if the number is 9    
        elif x==9:
            #turn off the flag
            flag=False
          
        #if the flag is turned off
        elif flag==False:
            
            #add to the sum
            sum1=sum1+x
    return sum1

In [88]:
# Check
summer_69([1, 3, 5])

9

In [89]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [90]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [176]:
def spy_game(nums):
    
    #flag to work with in the loop below to see how much zeros are in the list 
    #and if there is a 7 after 2 of them
    flag=0
    
    #for loop to go through every index in the list
    for i in nums:
        
        #condtion to see if we have first and second zero 
        if flag<=1 and i==0:
            
            #raise the flag counter by 1
            flag=flag+1
            
        #condtion to see if there were 2 zero and if there is a 7    
        elif flag==2 and i==7:
            
            #raise the flag counter by 1
            flag=flag+1
            
    #see if the flag counter is 3 meaning that it counted 2 zeros and 1 seven        
    if flag ==3:
        return True
    
    
    else:
        return False

In [177]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [178]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [179]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [192]:
def count_primes(num):
    
    #counter
    count=0
    
    #for loop to from 2 to 100
    for i in range(2,num+1):
        
        #condtion to see if it isn't divisable by 2 and 3 and 5
        if i%2!=0 and i%3!=0 and i%5!=0 :
            
            #raising the counter
            count=count+1
            
            
    return count

In [193]:
# Check
count_primes(100)

25

## Great Job!